BETTER_AUTH_SECRET= # generate one using `openssl rand -base64 32`
BETTER_AUTH_URL=http://localhost:3000

DATABASE_URL="mysql://gigscale:gigscale@localhost:3306/gigscale"

RESEND_API_KEY=resend_api_key_goes_here # get it from resend dashboard

GOOGLE_CLIENT_ID=google_client_id_goes_here.apps.googleusercontent.com # get it from google cloud console
GOOGLE_CLIENT_SECRET=google_client_secret_goes_here # get it from google cloud console

NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPPORT_EMAIL=support@gigscale.app
NEXT_PUBLIC_SALES_EMAIL=sales@gigscale.app

POLAR_ACCESS_TOKEN=polar_access_token_goes_here # get it from Polar dashboard
POLAR_PRO_PRODUCT_ID=polar_pro_product_id_goes_here # get it from Polar dashboard
POLAR_ENTERPRISE_PRODUCT_ID=polar_enterprise_product_id_goes_here # get it from Polar dashboard
POLAR_WEBHOOK_SECRET=polar_webhook_secret_goes_here # get it from Polar dashboard